@using LearningManagement.Data.Enums
@using LearningManagement.Data.ViewModels
@model TeacherModel
@{
    Layout = "_InstitutionAdminLayout";
    ViewData["Title"] = "Admin Add Teacher";
    ViewBag.ActiveSideNav = SideNavBar.NavTeacher.ToString();
    ViewBag.ActiveSubMenuNav = SubMenuNavBar.AddTeacher.ToString();
}

@section CustomCSS {
    <link rel="stylesheet" href="~/assets/css/extendted.css" asp-append-version="true" />
}

<!-- start :main content -->
<div class="row px-lg-4">
    <div class="col-md-12 col-lg-2 nav-div">
        <partial name='_TeacherSubMenuPartial' />
    </div>

    <!-- end col-2 -->
    <div class="col-md-12 col-lg-10">
        <ion-icon class="icon fs-3 side-menu" name="add-circle-sharp" onclick="Submenu(this)"></ion-icon>

        <div class="row information p-3">
            <h2 class="text-center">Add Teacher</h2>
            <form class="form w-100" asp-route-returnUrl="@ViewBag.ReturnUrl" asp-controller="Admin" asp-action="AddTeacher" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-4 mt-2 lg-mt-0">
                        <label>first name</label>
                        <input type="text" placeholder="First Name *" required asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="err"></span>
                    </div>
                    <div class="col-md-4 mt-2 lg-mt-0">
                        <label>Last name</label>
                        <input type="text" placeholder="Last Name *" required asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="err"></span>
                    </div>
                    <div class="col-md-4 mt-2 lg-mt-0">
                        <label>Email</label>
                        <input type="text" placeholder="Email Address *" required asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="err"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 mt-2 lg-mt-0">
                        <label>Password</label>
                        <input type="password" placeholder="Password" asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="err"></span>
                    </div>
                    <div class="col-md-4 mt-2 lg-mt-0">
                        <label>Phone Number</label>
                        <input type="text" placeholder="Phone Number *" required asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="err"></span>
                    </div>
                    <div class="col-md-4 mt-2 lg-mt-0">
                        <label>Birth Date</label>
                        <input type="date" required asp-for="BirthDate" class="form-control" />
                        <span asp-validation-for="BirthDate" class="err"></span>
                    </div>
                </div>

                <!--MAHADI-->
                <div class="row">
                    <div class="col-md-4 mt-2 lg-mt-0">
                        <label>NID</label>
                        <input type="" placeholder="NID" asp-for="NID" class="form-control" />
                        <span asp-validation-for="NID" class="err"></span>
                    </div>
                    <div class="col-md-4 mt-2 lg-mt-0">
                        <label>Emergency Contact Name</label>
                        <input type="text" placeholder="Emergency Contact Name" asp-for="EmergencyContactName" class="form-control" />
                        <span asp-validation-for="EmergencyContactName" class="err"></span>
                    </div>
                    <div class="col-md-4 mt-2 lg-mt-0">
                        <label>Emergency Contact Number</label>
                        <input type="text" placeholder="Emergency Contact Number" asp-for="EmergencyContactPhone" class="form-control" />
                        <span asp-validation-for="EmergencyContactPhone" class="err"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 mt-2 lg-mt-0">
                        <label>Teaching Rating</label>
                        <input type="" placeholder="Teaching Rating" asp-for="TeachingRating" class="form-control" />
                        <span asp-validation-for="TeachingRating" class="err"></span>
                    </div>
                    <div class="col-md-4 mt-2 lg-mt-0">
                        <label>Full Address</label>
                        <input type="" placeholder="Full Address" asp-for="TeacherAddress" class="form-control" />
                        <span asp-validation-for="TeacherAddress" class="err"></span>
                    </div>
                    <div class="col-md-4 mt-2 lg-mt-0">
                        <label>Medical Conditions</label>
                        <input type="text" placeholder="Medical Conditions" asp-for="MedicalConditions" class="form-control" />
                        <span asp-validation-for="MedicalConditions" class="err"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 mt-2 lg-mt-0">
                        <label>University</label>
                        <input type="" placeholder="University" asp-for="University" class="form-control" />
                        <span asp-validation-for="University" class="err"></span>
                    </div>
                    <div class="col-md-4 mt-2 lg-mt-0">
                        <label>Graduation Year</label>
                        <input type="text" placeholder="GraduationYear" asp-for="GraduationYear" class="form-control" />
                        <span asp-validation-for="GraduationYear" class="err"></span>
                    </div>
                    <div class="col-md-4 mt-2 lg-mt-0">
                        <label>Previous Institutions</label>
                        <input type="text" placeholder="Previous Institutions" asp-for="PreviousInstitutions" class="form-control" />
                        <span asp-validation-for="PreviousInstitutions" class="err"></span>
                    </div>
                </div>

                <div class="row">
                    <h5>Additional Qualification</h5>
                    <div class="col-md-2 mt-2 lg-mt-0">
                        <label>Education Qualification</label>
                        <div id="eduQualificationContainer">
                            <input type="text" name="EduQualification" placeholder="Degree" class="form-control mb-2" />
                        </div>
                        @* <button type="button" id="addQualification" class="mt-2">Add More</button> *@
                    </div>

                    <div class="col-md-2 mt-2 lg-mt-0">
                        <label>Education Year</label>
                        <div id="educationYearContainer">
                            <input type="text" name="ExamPassYear" placeholder="Pass Year" class="form-control mb-2" />
                        </div>
                    </div>
                    <div class="col-md-2 mt-2 lg-mt-0">
                        <label>Degree Result</label>
                        <div id="educationResultContainer">
                            <input type="text" name="DegreeResult" placeholder="Result" class="form-control mb-2" />
                        </div>
                    </div>
                    <div class="col-md-4 mt-2 lg-mt-0">
                        <label>Institution Name</label>
                        <div id="institutionNameContainer">
                        <input type="text" placeholder="Institution Name" name="InstitutionName" class="form-control mb-2" />
                        </div>
                    </div>
                    <div class="col-md-2 mt-2 lg-mt-0">
                        <button type="button" id="addQualification" class="btn btn-sm" style="margin-top: 2.5rem!important;">Add More</button>
                        <span asp-validation-for="EduQualification" class="err"></span> 
                        <span asp-validation-for="ExamPassYear" class="err"></span>
                        <span asp-validation-for="DegreeResult" class="err"></span>
                        <span asp-validation-for="InstitutionName" class="err"></span>
                    </div>
                </div>
                <!--MAHADI-->

                <div class="row">
                    <div class="col-md-3 mt-2 lg-mt-0">
                        <label>Join date</label>
                        <input type="date" required asp-for="JoiningDate" class="form-control" />
                        <span asp-validation-for="JoiningDate" class="err"></span>
                    </div>
                    <div class="col-md-3 mt-2 lg-mt-0">
                        <label>Gender</label>
                        <select asp-for="Gender" class="form-select">
                            <option>Gender*</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Others">Others</option>
                        </select>
                    </div>
                    <div class="col-md-3 mt-2 lg-mt-0">
                        <label>Religion</label>
                        <select asp-for="Religion" class="form-select">
                            <option>Religion*</option>
                            <option value="Muslim">Muslim</option>
                            <option value="Christian">Christian</option>
                            <option value="Hinduism">Hinduism</option>
                            <option value="Buddhism">Buddhism</option>
                        </select>
                    </div>
                    <div class="col-md-3 mt-2 lg-mt-0">
                        <label>Blood Group</label>
                        <select asp-for="BloodGroup" class="form-select">
                            <option>Blood Group</option>
                            <option value="A+">A+</option>
                            <option value="A-">A-</option>
                            <option value="AB+">AB+</option>
                            <option value="AB-">AB-</option>
                            <option value="B+">B+</option>
                            <option value="B-">B-</option>
                            <option value="O+">O+</option>
                            <option value="O-">O-</option>

                        </select>
                    </div>
                </div>
                <div class="row">
                    <h5>Additional Experience</h5>
                    <div class="col-md-2 mt-2 lg-mt-0">
                        <label>Organization Name</label>
                        <div id="organizationContainer">
                            <input type="text" name="Organization" placeholder="Organization" class="form-control mb-2" />
                        </div>
                        @* <button type="button" id="addQualification" class="mt-2">Add More</button> *@
                    </div>

                    <div class="col-md-2 mt-2 lg-mt-0">
                        <label>Designation</label>
                        <div id="designationContainer">
                            <input type="text" name="Designation" placeholder="Designation" class="form-control mb-2" />
                        </div>
                    </div>
                    <div class="col-md-2 mt-2 lg-mt-0">
                        <label>Form To Year</label>
                        <div id="formToYearContainer">
                            <input type="text" name="FormToYear" placeholder="Form To Year" class="form-control mb-2" />
                        </div>
                    </div>
                    <div class="col-md-2 mt-2 lg-mt-0">
                        <button type="button" id="addExperience" class="btn btn-sm" style="margin-top: 2.5rem!important;">Add More</button>
                        <span asp-validation-for="Organization" class="err"></span>
                        <span asp-validation-for="Designation" class="err"></span>
                        <span asp-validation-for="FormToYear" class="err"></span>
                    </div>
                    <div class="col-md-4 mt-2 lg-mt-0">
                        <label>select photo</label>
                        <input asp-for="ImageFile" type="file" class="form-control" />
                        @* <input asp-for="ImageFile" type="hidden" class="form-control" />*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mt-2 lg-mt-0">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="HasHealthInsurance" /> @Html.DisplayNameFor(model => model.HasHealthInsurance)
                        </label>
                    </div>
                    <div class="col-md-3 mt-2 lg-mt-0">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsAdmin" /> @Html.DisplayNameFor(model => model.IsAdmin)
                        </label>
                    </div>
                    <div class="col-md-3 mt-2 lg-mt-0">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                        </label>
                    </div>
                </div>
                <button type="submit" class="mt-3 btn">add</button>
            </form>
            <!-- end section main form -->
        </div>
    </div>
</div>
<!-- end : main content -->
@section Scripts {
    <script type="text/javascript" src="~/assets/js/submenu.js" asp-append-version="true"></script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            var maxFields1 = 3;
            var clickCount1 = 1;

            var maxFields2 = 3;
            var clickCount2 = 1;

            $("#addQualification").on("click", function () {
                // Check if any existing field is empty
                var areAnyFieldsEmpty = false;

                $("input[name='EduQualification'], input[name='ExamPassYear'], input[name='DegreeResult'], input[name='InstitutionName']").each(function () {
                    if ($(this).val().trim() === "") {
                        areAnyFieldsEmpty = true;
                        return false; // Exit the loop if any field is empty
                    }
                });

                if (areAnyFieldsEmpty) {
                    alert("Please fill all existing fields before adding more.");
                    return;
                }

                console.log("Count", clickCount1);
                if (clickCount1 < maxFields1) {
                    clickCount1++;

                    //console.log("Count", clickCount);
                    var eduQualificationInput = '<input type="text" name="EduQualification" placeholder="Degree" class="form-control mb-2" />';
                    var educationYearInput = '<input type="text" name="ExamPassYear" placeholder="Pass Year" class="form-control mb-2" />';
                    var educationYearPassResultInput = '<input type="text" name="DegreeResult" placeholder="Result" class="form-control mb-2" />';
                    var institutionNameContainertInput = '<input type="text" name="InstitutionName" placeholder="Institution Name" class="form-control mb-2" />';

                    $("#eduQualificationContainer").append(eduQualificationInput);
                    $("#educationYearContainer").append(educationYearInput);
                    $("#educationResultContainer").append(educationYearPassResultInput);
                    $("#institutionNameContainer").append(institutionNameContainertInput);
                } else {
                    alert("You can't add more than three fields.");
                    $("#addQualification").prop("disabled", true); // Disable the button after the limit is reached
                }
            });

            $("#addExperience").on("click", function () {
                // Check if any existing field is empty
                var areAnyFieldsEmpty = false;

                $("input[name='Organization'], input[name='Designation'], input[name='FormToYear']").each(function () {
                    if ($(this).val().trim() === "") {
                        areAnyFieldsEmpty = true;
                        return false; // Exit the loop if any field is empty
                    }
                });

                if (areAnyFieldsEmpty) {
                    alert("Please fill all existing fields before adding more.");
                    return;
                }

                if (clickCount2 < maxFields2) {
                    clickCount2++;

                    var organizationInput = '<input type="text" name="Organization" placeholder="Organization" class="form-control mb-2" />';
                    var designationInput = '<input type="text" name="Designation" placeholder="Designation" class="form-control mb-2" />';
                    var formToYearInput = '<input type="text" name="FormToYear" placeholder="Form To Year" class="form-control mb-2" />';
                    //var institutionNameContainertInput = '<input type="text" name="InstitutionName" placeholder="Institution Name" class="form-control mb-2" />';

                    $("#organizationContainer").append(organizationInput);
                    $("#designationContainer").append(designationInput);
                    $("#formToYearContainer").append(formToYearInput);
                } else {
                    alert("You can't add more than three fields.");
                    $("#addExperience").prop("disabled", true); // Disable the button after the limit is reached
                }
            });
        });
    </script>


}