@using LearningManagement.Data.Enums
@{
    Layout = "_InstitutionAdminLayout";
    ViewData["Title"] = "Admin-Course";
    ViewBag.ActiveSideNav = SideNavBar.NavCourse.ToString(); 
    ViewBag.ActiveSubMenuNav = SubMenuNavBar.CourseGrade.ToString();
}

@section CustomCSS {
    <link rel="stylesheet" href="~/assets/css/course.css" asp-append-version="true" />
}
<!-- start :main-content -->
<div class="row px-lg-4">
    <div class="col-md-12 col-lg-2 nav-div">
        <partial name='_CourseSubMenuPartial '/>
    </div>
    <!-- end col-2 -->

    <div class="col-md-12 col-lg-10">
        <ion-icon class="fs-3 side-menu icon" name="add-circle-sharp" onclick="Submenu(this)"></ion-icon>
        <div class="row information p-3">
            <h2 class="text-center">Class Test</h2>
            <div class="col-md-8 mx-auto">
                <input type="text" placeholder="Search" class="form-control" />
            </div>
            <div class="row">
                <div class="col-1">
                    <button class="btn d-inline  mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fa-solid fa-plus "></i>
                    </button>
                </div>
                <div class="collapse" id="collapseExample">
                    <form action="">
                        <div class="row">
                            <div class="col-md-4 mt-2 lg-mt-0">
                                <label>Select Department</label>
                                <select class="form-select text-muted">
                                    <option value="01">
                                        Select Dept
                                    </option>
                                    <option value="01">BBA</option>
                                    <option value="01">CSE</option>
                                </select>
                            </div>
                            <div class="col-md-4 mt-2 lg-mt-0">
                                <label>Shift</label>
                                <select class="form-select text-muted">
                                    <option value="01">
                                        Select Shift
                                    </option>
                                    <option value="01">Moroning</option>
                                    <option value="01">Evening</option>
                                </select>
                            </div>
                            <div class="col-md-4 mt-2 lg-mt-0">
                                <label>Course Code</label>
                                <select class="form-select">
                                    <option>Course List</option>
                                    <option value="2">MAT 101</option>
                                    <option value="3">Eng 102</option>
                                    <option value="4">ECO 102</option>
                                </select>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 mt-2 lg-mt-0">
                                <label>Insert marks</label>
                                <input type="text" name="" class="form-control" placeholder="Insert Marks" />
                            </div>
                            <div class="col-md-4 mt-2 lg-mt-0">
                                <label>Examination Type</label>
                                <select class="form-select">
                                    <option>Types</option>
                                    <option value="2">Final</option>
                                    <option value="3">Mid Term</option>
                                    <option value="4">Class Test</option>
                                    <option value="4">Quiz Test</option>
                                </select>
                            </div>
                            <div class="col-md-4 mt-2 lg-mt-0">
                                <label>Examination Date</label>
                                <input type="date" name="" class="form-control" />
                            </div>
                        </div>
                        <button class="mt-3 btn">submit info</button>
                    </form>

                </div>
            </div>
            <div class="row py-4">
                <div class="card table-card py-4">
                    <div class="row py-4">
                        <div class="col-md-4">
                            <select class="form-select text-muted">
                                <option value="01">
                                    Select Department
                                </option>
                                <option value="01">demo</option>
                            </select>
                        </div>
                    </div>
                    <table class="table no-border text-center">
                        <thead>
                        <th>Name</th>
                        <th>Id</th>
                        <th>Department</th>
                        <th>Cgpa</th>
                        <th>Download</th>
                        <th>Action</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Panthera Leo</td>
                                <td>10102</td>
                                <td>Mathematics</td>
                                <td>3.80</td>
                                <td><a href=""><img src="../assets/images/dashboard/Group 134.png" alt="" /></a></td>
                                <td>
                                    <button class="btn btn-sm"><i class="fa-solid fa-pen-to-square"></i></button>
                                    <button class="btn btn-sm"><i class="fa-solid fa-trash"></i></button>
                                </td>
                            </tr>
                            <tr class="">
                                <td>Homo Sapiens</td>
                                <td>10102</td>
                                <td>Mathematics</td>
                                <td>3.80</td>

                                <td><img src="../assets/images/dashboard/Group 134.png" alt="" /></td>
                                <td>
                                    <button class="btn btn-sm"><i class="fa-solid fa-pen-to-square"></i></button>
                                    <button class="btn btn-sm"><i class="fa-solid fa-trash"></i></button>
                                </td>
                                </td>
                            </tr>
                            <tr class="">
                                <td>Rosa Gallica</td>
                                <td>10102</td>
                                <td>Mathematics</td>
                                <td>3.80</td>

                                <td><img src="../assets/images/dashboard/Group 134.png" alt="" /></td>

                                <td>
                                    <button class="btn btn-sm"><i class="fa-solid fa-pen-to-square"></i></button>
                                    <button class="btn btn-sm"><i class="fa-solid fa-trash"></i></button>
                                </td>
                                </td>
                            </tr>
                            <tr class="">
                                <td>Harry Brook</td>
                                <td>10102</td>
                                <td>Mathematics</td>
                                <td>3.80</td>

                                <td><img src="../assets/images/dashboard/Group 134.png" alt="" /></td>

                                <td>
                                    <button class="btn btn-sm"><i class="fa-solid fa-pen-to-square"></i></button>
                                    <button class="btn btn-sm"><i class="fa-solid fa-trash"></i></button>
                                </td>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>

            <!-- end section main form -->
        </div>
    </div>
</div>
<!-- end:main-content -->

@section Scripts {
    <script type="text/javascript" src="~/assets/js/submenu.js" asp-append-version="true"></script>
}