@using LearningManagement.Data.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using LearningManagement.Data.ViewModels
@model InstitutionViewModel
@{
    Layout = "_InstitutionAdminLayout";
    ViewData["Title"] = "Institution Info";
    ViewBag.ActiveSideNav = SideNavBar.NavIndex.ToString();
    ViewBag.ActiveSubMenuNav = SubMenuNavBar.InstitutionInfo.ToString();
}

@section CustomCSS {
    <link rel="stylesheet" href="~/assets/css/admin-account.css" asp-append-version="true" />
}


<!-- start: main-content -->
<div class="row px-lg-4 ">
    <div class="col-md-12 col-lg-2 nav-div">
        <partial name='_AdminSubMenuPartial' />
    </div>
    <!-- end col-2 -->

    <div class="col-md-12 col-lg-7">
        <ion-icon class="icon fs-3 side-menu"
                  name="add-circle-sharp"
                  onclick="Submenu(this)"></ion-icon>
        <form class="form w-100" asp-route-returnUrl="@ViewBag.ReturnUrl" asp-controller="Admin" asp-action="Edit" method="post" enctype="multipart/form-data">
            <div class="row information p-5">
                <div class="col-md-12">
                    <p class="info-border col-md-8">Change Institution Information</p>

                    <div class="row mt-4">
                        <div class="col-lg-6">
                            <label>Institution Name</label>
                            <input type="text" placeholder="Institution Name" required asp-for="InstitutionName" class="form-control" />
                            <span asp-validation-for="InstitutionName" class="err"></span>
                        </div>
                        <div class="col-lg-6 mt-3 mt-lg-0">
                            <label>Contact Number</label>
                            <input type="text" placeholder="Contact Number" required asp-for="ContactNumber" class="form-control" />
                            <span asp-validation-for="ContactNumber" class="err"></span>
                        </div>
                    </div>
                    <div class="col mt-3">
                        <label>Email</label>
                        <input type="text" placeholder="Email" required asp-for="Email" class="form-control" />
                    </div>
                    <div class="col mt-3">
                        <label>Website</label>
                        <input type="text" placeholder="Website" asp-for="Website" class="form-control" />
                    </div>
                    <div class="col mt-3">
                        <label>Branding TagLine</label>
                        <input type="text" placeholder="BrandingTagLine" asp-for="BrandingTagLine" class="form-control" />
                    </div>
                    <div class="col mt-3">
                        <label>Full Address</label>
                        <textarea type="text" asp-for="Address" placeholder="Enter your address here" class="form-control"></textarea>
                    </div>
                    <div class="col-md-6 mt-2 lg-mt-0">
                        <label>select Logo</label>
                        <input asp-for="ImageFile" type="file" class="form-control" />
                    </div>
                    <div class="col-md-6 mt-2 lg-mt-0">
                        @* <img class="img-fluid" src="~/Images/@(string.IsNullOrEmpty(Model.InstitutionLogoName) ? "default-image.jpg" : Model.InstitutionLogoName)" alt="" /> *@
                    </div>
                    <!--MAHADI-->
                    <div class="row mt-4">
                        <div class="col-md-6 mt-3">
                            <label>Founder Name</label>
                            <input type="text" placeholder="Founder" required asp-for="Founder" class="form-control" />
                            <span asp-validation-for="Founder" class="err"></span>
                        </div>
                        <div class="col-md-6 mt-3">
                            <label>Founded Date</label>
                            <input type="text" placeholder="FoundedDate" asp-for="FoundedDate" class="form-control" />
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-lg-6">
                            <label>VisionStatement</label>
                            <input type="text" asp-for="VisionStatement" placeholder="Enter your address here" class="form-control" />
                        </div>
                        <div class="col-lg-6 mt-3 mt-lg-0">
                            <label>Accreditation</label>
                            <input type="text" placeholder="Accreditation" asp-for="Accreditation" class="form-control" />
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-lg-6 mt-3 mt-lg-0">
                            <label>Affiliation</label>
                            <input type="text" placeholder="Affiliation" asp-for="Affiliation" class="form-control" />
                        </div>
                        <div class="col-lg-6 mt-3 mt-lg-0">
                            <label>TotalStudents</label>
                            <input type="text" placeholder="Total Students" asp-for="TotalStudents" class="form-control" />
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-lg-6 mt-3 mt-lg-0">
                            <label>Total Courses</label>
                            <input type="text" placeholder="Total Courses" asp-for="TotalCourses" class="form-control" />
                        </div>
                        <div class="col-lg-6 mt-3 mt-lg-0">
                            <label>Campus Facilities</label>
                            <input type="text" placeholder="Campus Facilities" asp-for="CampusFacilities" class="form-control" />
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-lg-6 mt-3 mt-lg-0">
                            <label>Social Media Links</label>
                            <input type="text" placeholder="Social Media Links" asp-for="SocialMediaLinks" class="form-control" />
                        </div>
                        <div class="col-lg-6 mt-3 mt-lg-0">
                            <label>PrincipalName</label>
                            <input type="text" placeholder="Principal Name" asp-for="PrincipalName" class="form-control" />
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-lg-6 mt-3 mt-lg-0">
                            <label>Principal Email</label>
                            <input type="text" placeholder="Principal Email" asp-for="PrincipalEmail" class="form-control" />
                        </div>
                        <div class="col-lg-6 mt-3 mt-lg-0">
                            <label>PrincipalPhone</label>
                            <input type="text" placeholder="Principal Phone" asp-for="PrincipalPhone" class="form-control" />
                        </div>
                    </div>
                    <!--MAHADI-->
                    <button type="submit" class="mt-3">Update</button>

                </div>
                <!-- end section main form -->
            </div>
        </form>
    </div>
    <div class="col-md-12 col-lg-3 mx-auto">
        <div class="report mt-4 mt-lg-0">
            <p class="info-border">Exam Report</p>
            <div class="list-group mt-4">
                <a href="">
                    <div class="list-group-item mt-3">
                        <i class="fa-regular fa-circle-check img-fluid"></i>
                        2022-2023 all results
                    </div>
                </a>
                <a href="">
                    <div class="list-group-item mt-3">
                        <i class="fa-regular fa-circle-check img-fluid"></i>
                        Grade A final exam
                    </div>
                </a>
                <a href="">
                    <div class="list-group-item mt-3">
                        <i class="fa-regular fa-circle-check img-fluid"></i>
                        Postgraduate report
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- end main content -->
@section Scripts {
    <script type="text/javascript" src="~/assets/js/submenu.js" asp-append-version="true"></script>
}