*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;;
}
.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 12px;
  }
  
  .nav-links li {
    list-style-type: none;
  }
  
  ul li a {
    text-decoration: none;
    font-family: Inter;
    font-size: 13px;
    color: #384a59;
    font-weight: 400;
  }
  ul li a:hover {
    border-radius: 5px;
    background-color: #ff7a74;
    color: #ffffff;
      padding: 6px;
  }
  .active {
    border-radius: 5px;
    background-color: #ff7a74;
    color: #ffffff;
    padding: 6px;
  }